[id=nav] {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  padding: 30px;
  text-align: right;
  a{
    &.active{
      border: 1px solid #1c7ed6;
      background-color: #1c7ed6;
      color: #fff;
    }
  }
}