[id=nav] {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  padding: 30px;
  text-align: right;
  a{
    &.active{
      border: 1px solid #1c7ed6;
      background-color: #1c7ed6;
      color: #fff;
    }
  }
  &.mobile-nav{
    text-align: center;
    width: 100%;
    left: 0;
    padding: 10px;
    .mobile-link{
      color: #1c7ed6;
      background: white;
      text-align: center;
      font-size: 1em;
      border-radius: 50%;
      padding: 10px;
      width: 3em;
      height: 3em;
      padding: .75em;
    }
    
  } 
}