@import '../../assets/scss/abstracts.scss';

.modal-header{
  display:flex;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid $main-color;
  h1{
    flex-grow: 2;
    color: $main-color;
    text-transform: uppercase;
  }
  button{
    background: none;
    border: none;
  }
}