.bookcase {
    position: relative;
}
.row-add{
    position: relative;
    background: #e9ecef;
    padding: 10px;
    display: flex;
    .input-wrapper{
        flex-grow: 2;
        & + .input-wrapper{
            margin: 0 10px;
        }
    }
    .button-wrapper{
        button{
            height: 100%;
        }
    }
}